<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://updatecandidateinfofunction.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/61d9fe96-1bc7-4e3a-846b-bfd562f96284/resourcegroups/BloodDonorResourceGrp/providers/Microsoft.Web/sites/UpdateCandidateInfoFunction</ResourceId>
    <UserName>$UpdateCandidateInfoFunction</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://updatecandidateinfofunction.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>